@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #d8d8d8;
    color: #181818;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
}

.contentTop {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 17px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;

}

.changesize {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;

}

p {
    font-size: 72px;
    display: flex;
    justify-content: center;


}

dd {
    display: inline-grid;
    margin-inline: auto;
}

li {
    font-size: 26px;
}

.weekdayCard {
    border: 2px double #40ADAD;
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 8px;
    width: 200px;
    height: auto;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
}


div.row img {
    width: 100%;
    height: auto;
}




.responsive {
    padding: 0 6px;
    float: left;
    width: 50%;
}

.image:hover {
    filter: brightness(1.2);
}

.imagesSettings {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

button {
    background-color: #40ADAD;
    border-radius: 5px;
    font-size: 15px;
    width: auto;
    height: auto;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    padding: 0 24px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 5px 3px #888888;
}

svg {
    margin-top: 5px;
}

#changesizebutton {
    background-color: #40ADAD;
    border-radius: 5px;
    font-size: 18px;
    width: 160px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    padding: 15px 32px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 5px 3px #888888;
}

#app {
     font-weight: normal;
}
div.weekdayCard{
    font-size: 24px;
}


@media screen and (min-width: 1201px) and (max-width: 1735px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }

    .weekdayCard {
        width: auto;
        height: auto;
        margin-right: 32px;
    }

    .row {
        flex-wrap: wrap;
    }


}


@media only screen and (min-width: 1122px) and (max-width: 1200px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .weekdayCard {
        width: auto;
        height: auto;
        margin-right: 150px;

    }

    .row {
        flex-wrap: wrap;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1122px) {
    .content {
        grid-template-columns: 1fr 1fr;
        margin: 68px;
    }

    .weekdayCard {
        width: auto;
        height: auto;
        margin-right: 130px;
    }

    .row {
        flex-wrap: wrap;
    }
    p {
        font-size: 57px;

    }
    h3{
        font-size: 45px ;
    }

    .checkbox{
        padding: 15px;
        font-size: 27px;
    }
    button{
        font-size: 33px;
    }
    h1{
        font-size: 37px;
    }
    .contentTop{
        font-size: 30px;
    }
    a.foodName{
        font-size: 28px;
    }

}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .content {
        grid-template-columns: 1fr;
    }

    .weekdayCard {
        width: 300px;
        height: auto;
    }

    .row {
        flex-wrap: wrap;
    }

    #app {
        margin: -5px;
    }

    p {
        font-size: 45px;

    }

    .checkbox{
        padding: 15px;
        font-size: 27px;
    }
    button{
        font-size: 27px;
    }
    h1{
        font-size: 37px;
    }
    a.foodName{
        font-size: 28px;
    }

}
